<!-- Footer Section -->
<footer class="footer-content  w-100 pt-3">
    <div class="container">
        <div class="row">
            <!-- Contact Information for Alex -->
            <div class="col-auto mx-auto">
                <i class="fas fa-phone"></i> +30 694 650 8357
                <i class="fa fa-envelope"></i> a.vasilakis@acg.edu
                <a href="https://github.com/Alexandroas">
                    <i class="fa-brands fa-github"></i> /Alexandroas
                </a>
                <a href="https://www.instagram.com/alexandros_vasilakis/" class="me-1">
                    <i class="fab fa-instagram"></i> alexandros_vasilakis<br>
                </a>
            </div>
            
            <!-- Custom-made background circle to augment the logo -->
            
            <!-- Contact Information for Costas -->
            </div>
        </div>
    </div>

    <!-- Copyright Information -->
    <div class="text-center copyright">
        © 2023 Copyright: Alex
    </div>
</div>
</footer>