<!-- Footer Section -->
<footer class="footer-content footer-color w-100 p-3" style="margin-top: auto;">
    <!-- Copyright Information -->
    <div class="pb-3 text-light text-muted text-center copyright" style="font-size: 15px">
        © 2023 Copyright | All Rights Reserved
    </div>
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
                <span class="pl-5 pr-5 text-light"><i class="fas fa-phone"></i> <span style="font-size: 15px">+30 695 650 8357</span></span>
                <span class="pl-5 pr-5 text-light"><i class="fa fa-envelope"></i> <span style="font-size: 15px">c.macris@acg.edu</span></span>
                <span class="pl-5 pr-5 text-light">
                    <a href="https://github.com/macrisconstantine">
                        <i class="fa-brands fa-github"></i> macrisconstantine
                    </a>
                </span>
                <span class="pl-5 pr-5 text-light">
                    <a style="text-decoration: none; text-light" href="https://www.instagram.com/macris.co/">
                        <i class="fab fa-instagram"></i> macris.co <br>
                    </a>
                </span>
            </div>
            
            <!-- Custom-made background circle to augment the logo -->
            
            <!-- Contact Information for Costas -->
            </div>
        </div>
    </div>

    
</div>
</footer>