{% load static %}

<header class="site-header">
    
    <nav class="navbar navbar-expand-md navbar-color mb-3 p-3 ">
        
        <div class="container ">
            <!-- Navbar Left Side -->
            <a class="nav-item nav-link" href="/">
                <img class="navbar-brand" style="width: 70px; height: 75px" src="{% static 'images/favicon.png' %}" alt="logo">
            </a>
            <div class="">
                <a class="nav-item nav-link" href="/"><span  style="font-size:2.5em; font-family: fantasy;">Game Cave</span></a>
            </div>
            

            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-auto float-right btncolor" data-target="#navbarToggle" data-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
        
                <!-- Navbar Right Side -->
                <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="nav-item nav-link" href="/admin/">Admin <i class="fas fa-gear"></i></a>
                        {% endif %}
                        <div class="col-auto">
                            <div class="row-auto d-flex justify-content-end">
                                <a class="nav-item nav-link" href="{%url 'logout' %}">
                                    <i class="fas fa-sign-out-alt"></i>&nbsp Log out
                                </a>
                            </div>
                            <div class="row-auto d-flex justify-content-end">
                                <a class="nav-item nav-link" href="{%url 'profile' user.username %}">
                                    <i class="fas fa-user"> </i>&nbsp Welcome, {{user.username}} 
                                </a>
                            </div>
                        </div>
                    {% else %}
                    <div class="col-auto">
                        <div class="row-auto d-flex justify-content-end">
                            <a class="nav-item nav-link" href="{%url 'login' %}">
                                Log in &nbsp<i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                        <div class="row-auto d-flex justify-content-end">
                            <a class="nav-item nav-link" href="{%url 'register' %}">
                                Sign up &nbsp<i class="fas fa-user-plus"> </i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

</header>