{% load static %}
{% comment %} Navbar file included in header and extended to entire website {% endcomment %}
<header class="site-header">

    <nav class="navbar navbar-expand-md navbar-color mb-3 p-1">

        <div class="container ">

            <!-- Navbar Left Side -->
            <a class="nav-item nav-link" href="/">
                <img class="navbar-brand" style="width: 50px; height: 55px" src="{% static 'images/favicon.png' %}" alt="logo">
            </a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" style="font-size:2.2em; font-family: Impact, fantasy"href="/"><span class="navbar-nav" >Game Cave</span></a>
            </div>

            {% comment %} Collapses into dropdown menu when scale is too small {% endcomment %}
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-auto float-right btncolor" data-target="#navbarToggle" data-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

                <!-- Navbar Right Side -->
                <div class="navbar-nav ml-auto">

                    {% comment %} Checks if user is authenticated or authenticated as admin to display the appropriate UI options {% endcomment %}
                    {% if user.is_authenticated %}

                        {% comment %} Admin can of course access the admin panel  {% endcomment %}
                        {% if user.is_superuser %}
                            <a class="nav-item nav-link" href="/admin/">Admin <i class="fas fa-gear"></i></a>
                        {% endif %}
                        <div class="row-auto d-flex justify-content-end">
                            <a class="nav-item nav-link" href="{%url 'profile' user.username %}">
                                &nbsp Welcome, {{user.username}} <i class="fas fa-user"> </i>
                            </a>
                        </div>
                        <div class="row-auto d-flex justify-content-end">
                            <a class="nav-item nav-link" href="{%url 'logout' %}">
                                &nbsp Log out <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    {% else %}

                    {% comment %} Non-authenticated can either login or register  {% endcomment %}
                    <div class="row-auto d-flex justify-content-end">
                        <a class="nav-item nav-link" href="{%url 'login' %}">
                            &nbsp Log in <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                    <div class="row-auto d-flex justify-content-end">
                        <a class="nav-item nav-link" href="{%url 'register' %}">
                            &nbsp Sign up <i class="fas fa-user-plus"> </i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

</header>