{% extends "main/header.html" %}
{% load static %}
{% block content %}
<div class="row-auto media content-section mobiledevice p-3 m-3">
    <div class="col-auto">
        <div class="row-auto imgBox mt-3 mb-3">
            <img style="border-radius:10px; width: 300px; height 260px;" src="{{ object.image.url }}">
        </div>
        <div class="row-auto mt-4 mr-3">
            <!-- Display the current average rating -->
            <p class="h3 title-style text-muted pl-1" style="font-family: fantasy;"> Total Ratings:  {{ object.total_ratings }} </p>
            <p class="h3 title-style text-muted pl-1" style="font-family: fantasy;"> Average Rating:  {{ object.average_rating }}/5 </p>
        
            <!-- Display stars for rating -->
            <div id="star-rating-container">
                {% for x in "12345" %}
                    <span >
                        <img class="star" data-value="{{ x }}" data-game-id="{{ object.id }}" style="width: 55px; height: 55px" src="{% static 'images/favicon.png' %}" alt="logo">
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-auto mt-3">
        <div class="row-auto">
            <div>
                <p class="h1 title-style" style="font-family: fantasy">{{ object.title }} <small class="text-muted">({{ object.platform }})</small></p>
                <h5 class="subtitle-style">Released: {{ object.release_date }}</h5>
            </div>
        </div>
        <div class="row-auto" style="width:40vw"id="content">
            <div class="article-style">
                {{ object.description|safe }}
            </div>
        </div>
    </div>
</div>
     <!-- Star Ratings Section -->
    
{% endblock content %}
