{% extends "main/header.html" %}
{% load static %}
{% block content %}
    <div class="row display-flex justify-content-center m-5">
    {% for object in objects %}
        <div class="col-lg-4 col-md-6 col-sm-12 mobiledevice">
            <card class="media content-section customhover" style="border-radius: 5%; width: 225px; height: 225px; text-align: center">
                <div class="media-body">
                    <div class="imgBox aspect-ratio-box">
                        <a href="/{{object.slug}}"><img class="card-img-top product-image mx-auto" style="border-radius:10px" src="{{ object.image.url }}"></a>
                    </div>
                    <div style=" margin-top: 30px">
                        <a class="article-title line-clamp-5 " style="font-size: auto; text-decoration: none;" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                    </div>
                </div>
            </card>
        </div>
        <div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}

{% comment %} 

admin username: test
admin password: test
admin email:    test@test.test

user username:  Leonardos
user password:  Mageiros
user email:     lmageiros@acg.edu    

kind reminder: 

    As instructed, this is a reminder to 
    not penalize this submission for late
    submission until 24 hours after the 
    official submission time.

{% endcomment %}